.sign_in {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2rem;
    top: 2rem;
    border: 2px solid #0080803D;
    padding: 2rem;
        &-logo {
            width: 40vw;
            margin-bottom: 2rem;
            height: 20vh;
            margin-left: 2rem;
        }
        &-or {
            text-align: center;
        }
        &-email {
            margin-bottom: 1rem;
            height: 2vh;
            border-radius: 5px;
            border: 1px solid  #008080;
            padding: 0.5rem;


        }
        &-password {
             height: 2vh;
             border-radius: 5px;
             border: 1px solid  #008080;
             border-radius: 5px;
             padding: 0.5rem;


        }
        &-logIn{
            margin-top: 1rem;
            background-color: #008080;
            color: white;
            border: none;
            border-radius: 5px;
            height: 4vh;
        }
        &-option2{
            margin-right: 1vh;
            margin-top: 4vh;
        }
}

.googleIcon {
    height: 4vh;
    width: 4vh;
    margin-right: 1vh;
    margin-left: 4vh;
}
.google-signIn-container {
    display: flex;
    align-items: center;
    color: red;
}

.sign_in-up {
    display: flex;
    align-items: center
}

.sign-up-link{
    margin-top: 4vh;
}