.navtab {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{

    &-porfile{
        height: 5vh;
    }
    &-home {
        height: 5vh;
    }
    &-spot {
        height: 6vh;

    }
}