.navtab {
    background-color: #004AAD;
    display: flex;
    justify-content: space-evenly;
}
.icon{

    &-porfile{
        height: 5vh;
        border-left: 1px solid #ffff;        
        padding: 0.5rem 0 0.5rem 2rem;
    }
    &-home {
        height: 5vh;
        padding: 0.5rem 0;
    }
    &-spot {
        height: 5vh;
        border-left: 1px solid #ffff;
        padding: 0.5rem 0 0.5rem 2rem;
    }
}