.navtab {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5px solid #0080803D;
    width: 100%;
    background-color: #FFFFFF    ;

}
.icon{

    &-porfile{
        height: 5vh;
    }
    &-home {
        height: 5vh;
    }
    &-spot {
        height: 6vh;

    }
}