.porfile_section {
    margin: 1rem;
    &-container1 {
        display: flex;
        align-items: center;
        margin-top: 3rem;
    }
    &-name {
        margin: 0;
    }
    &-pic {
        border-radius: 50%;
        height: 13vh;
        width: 13vh;
        background-color: grey;
    }
    &-aboutYou {
        margin-right: 5vh;
    }
    &-edit {
        margin-right: 2vh;
        height: 3.5vh;
    }
    &-add {
        height: 4vh;
    }
   
}
.pictures {
    margin-top: 1rem;
}
.images {
    width: 15vh;
    height: 15vh;
    background-color: grey;
    border-radius: 5px;
    object-fit:cover;
    margin-right: 1vh;

}
